<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token  %}
       
    </form>
    <table>
        <tr>
            <td>#</td>
            <td>Company Name</td>
            <td>Position</td>
            <td>Details</td>
            <td>Action</td>
        </tr>
        {% for i in vacancy %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.w.CompanyName}}</td>
            <td>{{i.w.vacancy_details}}</td>
            <td>{{i.w.vacancy_postion}}</td>
            <td><a href="{% url 'webuser:sendreq' i.id %}">Request</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>