{% extends 'Admin/header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" id=""></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="contact" id=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" id=""></td>
            </tr>
            <tr>
                <td>District</td>
                <td><select name="sel_district" id="sel_district">
                    <option value="">...Select...</option>
                    {% for i in district %}
                    <option value="{{i.id}}">{{i.dis.district_name}}</option>
                {% endfor %}
            </select></td>
            </tr>
            <tr>
                <td>Place</td>
                <td><select name="sel_place" id="sel_place">
                    <option value="">..Select..</option>
            </select></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="Address" id="" cols="30" rows="10"></textarea></td>
            </tr>

            <tr>
                <td>Gender</td>
                <td><input type="radio" name="Gender" id="" value="male">Male
                <input type="radio" name="Gender" id="" value="female">Female</td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="photo" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="Password" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"> <input type="submit" value="Add"></td>
                <td></td>
            </tr>
        </table>
        {% if msg %}
        
        <script>
            alert("{{msg}}")
            window.location = "{% url 'webadmin:Employe' %}"
        </script>
        {% endif %}
        <!-- <table cellpadding="10">
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Address</td>
                <td>Attendance</td>
            </tr>
            {% for i in wdata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.w.Employe_name}}</td>
                <td>{{i.w.Employee_email}}</td>
                <td>{{i.w.Employe_contact}}</td>
                <td>{{i.w.Employee_address}}</td>    
                <td><a href="{% url 'webadmin:viewattendance' i.id %}">View Attendance</a></td>
            </tr>
            {% endfor %}
        </table> -->
    </form>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#sel_district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'webguest:ajaxplace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#sel_place").html(data);
            },
        });
    });
</script>

{% endblock content %}