<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Company Name</td>
                <td><input type="text" name="CompanyName" id=""></td>
            </tr>
            <tr>
                <td>Postion</td>
                <td><input type="text" name="postion" id=""></td>
            </tr>
            <tr>
                <td>Details</td>
                <td><textarea name="Details" id="" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Add"></td>
                <td></td>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <td>#</td>
            <td>Company Name</td>
            <td>Postion</td>
            <td>Details</td>
            <td>action</td>
        </tr>
        {% for i in vacancy %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.w.CompanyName}}</td>
            <td>{{i.w.vacancy_details}}</td>
            <td>{{i.w.vacancy_postion}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>