<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>#</td>
            <td>User Name</td>
            <td>Company Name</td>
            <td>Resume</td>
            <td>Action</td>
        </tr>
        {% for i in view%}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>