{% extends 'Admin/header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>#</td>
            <td>User photo</td>
            <td>User Name</td>
            <td>Company Name</td>
            <td>Resume</td>
            <td>Action</td>
        </tr>
        {% for i in view%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><img src="{{i.user.user_photo}}" width="100" height="100" alt=""></td>
            <td>{{i.user.user_name}}</td>
            <td>{{i.vacancy.CompanyName}}</td>
            <td><img src="{{i.view.user_resume}}" width="100" height="100" alt=""></td>
            <td> <a href="{% url 'webadmin:accept' i.id %}">accept</a></td>
            <td> <a href="{% url 'webadmin:reject' i.id %}">reject</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock content %}